################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GarafanaWithOpenTelemetry101/bin/Debug/net9.0
/GarafanaWithOpenTelemetry101/obj
